.w-60px{
    
    width: 60px !important;
}

.cursor-pointer{
    cursor: pointer;
}
.breadcrumbs-custom-path .mdi.mdi-arrow-right::before
{
  color: rgba(255, 255, 255, 0.5) !important;
}
.va-top{
    vertical-align: top !important;
}
.va-bottom{
    vertical-align: bottom !important;
}

.form-control.upload{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.dropdown-menu {
    min-width: 16rem !important;
    
}
.dropdown-item{
    white-space: break-spaces !important;
}