﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
body {
  /*font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    color: @gray;
    background: #f2f2f2;*/
}
.lh .btn {
  border-radius: 18px;
  border: 0px;
  outline: none;
  box-shadow: none;
  min-height: 26px;
  min-width: 118px;
  font-family: LHBankHeaderBold;
  font-size: 14px;
}
.lh .btn:hover,
.lh .btn:focus,
.lh .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.lh .btn.btn-primary {
  background-color: #39a3ce;
  color: #ffffff;
}
.lh .btn.btn-primary:hover {
  background-color: #44B9E8;
}
.lh .btn.btn-primary[disabled] {
  background-color: #E2E2E2;
  color: #666666;
  cursor: not-allowed;
}
.lh .btn.btn-info {
  background-color: #18B9BA;
  color: #ffffff;
}
.lh .btn.btn-info:hover {
  background-color: #21cacb;
}
.lh .btn.btn-info[disabled] {
  background-color: #E2E2E2;
  color: #666666;
  cursor: not-allowed;
}
.lh .btn.btn-light {
  background-color: #EBEBEB;
  color: #333333;
}
.lh .btn.btn-light:hover {
  background-color: #F4F4F4;
}
.lh .btn.btn-light[disabled] {
  background-color: #E2E2E2;
  color: #666666;
  cursor: not-allowed;
}
.lh .btn.btn-link {
  background-color: transparent;
  color: #39a1cc;
  text-decoration: none;
  border: 1px solid #39a1cc;
}
.lh .btn.btn-link:hover {
  background-color: #F4F4F4;
}
.lh .btn.btn-link[disabled] {
  background-color: #E2E2E2;
  color: #666666;
  cursor: not-allowed;
}
.lh .btn.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 20px;
  width: 40px;
  border-radius: 20px;
  color: #333333;
  background: #EBEBEB;
  min-height: unset;
  min-width: unset;
  max-width: 40px;
}
.lh .btn.btn-toggle:focus,
.lh .btn.btn-toggle.focus,
.lh .btn.btn-toggle:focus.active,
.lh .btn.btn-toggle.focus.active {
  outline: none;
}
.lh .btn.btn-toggle:before,
.lh .btn.btn-toggle:after {
  line-height: 20px;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.lh .btn.btn-toggle > .handle {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  transition: left 0.25s;
}
.lh .btn.btn-toggle.active {
  transition: background-color 0.25s;
}
.lh .btn.btn-toggle.active > .handle {
  left: 22.5px;
  transition: left 0.25s;
}
.lh .btn.btn-toggle.active:before {
  opacity: 0.5;
}
.lh .btn.btn-toggle.active:after {
  opacity: 1;
}
.lh .btn.btn-toggle:before,
.lh .btn.btn-toggle:after {
  color: #333333;
}
.lh .btn.btn-toggle.active {
  background-color: #42c664;
}
.lh .jumbotron {
  background: #6b7381;
  color: #bdc1c8;
}
.lh .jumbotron h1 {
  color: #fff;
}
.lh .component {
  margin: 4rem auto;
}
.lh .component > .row {
  margin-top: 1rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(189, 193, 200, 0.5);
  padding-top: 10px;
}
.lh .component > .row:first-of-type {
  border: none;
  height: auto;
  text-align: left;
}
.lh .component h3 {
  font-weight: 400;
  padding-top: 1rem;
}
.lh .component h3 > small {
  font-weight: 200;
  font-size: 0.75em;
  color: #939aa5;
}
.lh .component h6 {
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 3.32px;
  text-transform: uppercase;
  color: #bdc1c8;
  margin: 0;
  line-height: 3rem;
}
.lh .card {
  padding: 2px !important;
  border: unset !important;
}
.lh .card-item {
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 3px #e0e0e0;
  background-color: transparent;
  width: 100%;
}
.lh .card-item:hover {
  background: linear-gradient(to right, #c3cf20, #25afad, #772980, #e56a55, #f0b210);
  display: inline-block;
  padding: 1px;
  text-decoration: none;
}
.lh .card-item .card-item-info {
  background: #fff;
  border-radius: 15px;
}
.lh .lh-breadcrumb {
  height: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #d2d2d2;
  font-family: LHBankHeader;
  font-size: 14px;
}
.lh .CMSBreadCrumbsLink {
  color: #d2d2d2;
}
.lh .CMSBreadCrumbsLink:hover {
  color: #fff;
}
.lh .CMSBreadCrumbsCurrentItem {
  color: #fff;
}