﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
body {
  position: relative;
}
.lhb-history-panel {
  background-color: rgba(66, 66, 66, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: 0.4s ease opacity;
  opacity: 0;
  display: none;
}
.lhb-history-panel .lhp__actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.lhb-history-panel .lhp__actions .lhp__last {
  font-size: 14pt;
  font-family: LHBankHeaderBold;
  text-decoration: none !important;
  color: #39a3ce;
  cursor: pointer;
}
.lhb-history-panel .lhp__actions .lhp__close {
  cursor: pointer;
}
.lhb-history-panel .lhp__actions .lhp__close img {
  width: 24px;
  height: 24px;
}
.lhb-history-panel .lhp__space {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.lhb-history-panel .lhp__bar {
  background-color: #ffffff;
  height: 100%;
  width: 350px;
  max-width: 100%;
  position: fixed;
  right: -350px;
  z-index: 20000;
  transition: 0.4s ease right;
}
.lhb-history-panel .lhp__bar .lhp__container {
  margin-left: 30px;
  margin-right: 20px;
  height: 100%;
  max-height: 665px;
  overflow: auto;
}
.lhb-history-panel .lhp__bar .lhp__container::-webkit-scrollbar {
  width: 8pt;
}
.lhb-history-panel .lhp__bar .lhp__container::-webkit-scrollbar-track {
  background: #fff;
}
.lhb-history-panel .lhp__bar .lhp__container::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4pt;
}
.lhb-history-panel .lhp__bar .lhp__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
  min-height: 100px;
  height: auto;
  display: flex;
  text-decoration: none !important;
  padding-right: 10px;
}
.lhb-history-panel .lhp__bar .lhp__item .item__cover img {
  width: 70pt;
  height: 70pt;
  border-radius: 15px;
}
.lhb-history-panel .lhp__bar .lhp__item .item__info {
  margin-left: 20px;
  width: 100%;
}
.lhb-history-panel .lhp__bar .lhp__item .item__info .item__date {
  font-size: 12pt;
  font-family: LHBankHeader;
  text-align: right;
  margin-bottom: 10px;
  color: #666666;
}
.lhb-history-panel .lhp__bar .lhp__item .item__info .item__desc {
  font-size: 14pt;
  font-family: LHBankHeader;
  color: #444444;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 48pt;
  overflow: hidden;
}
.lhb-history-panel .lhp__bar .lhp__item:hover .item__info .item__desc,
.lhb-history-panel .lhp__bar .lhp__item:active .item__info .item__desc {
  color: #39a3ce;
}
.lhb-history-panel.closing {
  opacity: 0;
  display: block;
}
.lhb-history-panel.closing .lhp__bar {
  right: -350px;
}
.lhb-history-panel.close {
  display: none;
}
.lhb-history-panel.opening {
  display: block;
}
.lhb-history-panel.open {
  opacity: 1;
  display: block;
}
.lhb-history-panel.open .lhp__bar {
  right: 0;
}
@media (max-width: 767.98px) {
  .lhb-history-panel .lhp__bar {
    width: 100%;
  }
  .lhb-history-panel .lhp__bar .lhp__item .item__cover img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
  }
  .lhb-history-panel .lhp__bar .lhp__item .item__info .item__desc {
    -webkit-line-clamp: 2;
    height: 32pt;
  }
}