.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel-info {
    border-color:transparent;
}
.panel-info > .panel-heading {
    background-image:none;
	font-size: 19px;
}
.panel-info > .panel-heading {
    background-color: #007DAA;
    border-color: #007DAA;
    color: #fff;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}







/* /////////////////////////////////////////////////////////////////////////////////////*/
/* edit by aaa */
.container--cover__card {
  	border-top: 5px solid #ffd400;
  	border-radius: 5px;
  	background-color: white;
  	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
 	
}
.container--sub-cover__card {
  	border-top: 5px solid #007DAA;
}

.box-pack{
	height: 250px;
	margin-bottom:15px;
}
.detail{
	height: 900px;
}
.btn--buttom{
	text-align:center;
	
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}


thead th {
    background: #e7e7e7 none repeat scroll 0 0;
}

.modal-header h1{
	color: #333;
	font-size: 20px !important;
	font-weight:bold;
}

.table-scroll {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.form-control{
	margin-bottom: 10px;


}

/* label */
.lblTitle{
    font-weight: 800;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
}

.txtlabel{
	width:100px;
}

.text-center{
	text-align: center;
}
.fn--bold{
	font-weight: bold;
}







/* Display */
.d-none{
	display: none;

}

/* btn */
@media screen and (max-width: 500px) {
	.btn{
		width:100%;
		margin-bottom: 5px;
	}
	.float-right{
		float: unset;
	}
	
}
@media screen and (max-width: 768px) {
	#list-grid{
	width: 800px;

	}

}
/*
.font--Sukhumvit {
    font-family: SukhumvitSet;
    font-weight: bold;
    line-height: 1.25;
    color: #222222;
}
*/
.container--content {
  margin: auto;
  margin-top: 162px;
  margin-bottom: 48px;
  max-width: 1170px;
}



/* Margin */
.mt--15px-all{
	margin-top:-15px;
}
.mt--10px-all{
	margin-top:-10px;
}
.mt-10px-all{
	margin-top:10px;
}
.mt-15px-all{
	margin-top:15px;
}
.mt-20px-all{
	margin-top:20px;
}






/* Dropdown */
.panel-info .dropdown {
  /*width: 100%;*/
  min-height: 48px;
  border-radius: 5px;
  box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  font-family: Thongterm-Roman;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
  color: #5a5a5a;

}
.modal-body .dropdown {
  /*width: 100%;*/
  min-height: 48px;
  border-radius: 5px;
  box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  font-family: Thongterm-Roman;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
  color: #5a5a5a;

}


.form-group input.form-control,
.input-group input.form-control,
.form-group textarea.form-control,
.input-group textarea.form-control {
    font-family: 'Thongterm';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #5a5a5a;
    height: 48px;
    border-radius: 5px;
    box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

    .form-group input.form-control:focus,
    .input-group input.form-control:focus,
    .form-group textarea.form-control:focus,
    .input-group textarea.form-control:focus {
        border: solid 1px #463737;
    }

    .form-group input.form-control:disabled,
    .input-group input.form-control:disabled,
    .form-group textarea.form-control:disabled,
    .input-group textarea.form-control:disabled {
        background-color: #f0efee !important;
    }

    .form-group input.form-control::placeholder,
    .input-group input.form-control::placeholder,
    .form-group textarea.form-control::placeholder,
    .input-group textarea.form-control::placeholder {
        color: #bbbbbb;
    }

    .form-group input.form-control.form-control-danger,
    .input-group input.form-control.form-control-danger,
    .form-group textarea.form-control.form-control-danger,
    .input-group textarea.form-control.form-control-danger {
        border: solid 1px #d0021b;
    }

    .form-group input.form-control.form-control-sm,
    .input-group input.form-control.form-control-sm,
    .form-group textarea.form-control.form-control-sm,
    .input-group textarea.form-control.form-control-sm {
        height: 38px;
    }
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    min-width: 125px;
    min-height: 45px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-top:10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}